html {
    scroll-behavior: smooth;
    height:100%;
    width:100%;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(37, 37, 37);
    width:100%;
    height:100%;
}
.container{
    position:relative;
}
#media {
    position:fixed;
    opacity:0;
    margin-top: 27vh;
    width:80px;
    height:350px;
    background-color: rgb(66, 66, 71);
    border:1px solid ;
    border-left: 0;
    border-radius:0 20px 20px 0;
    color:rgb(66, 66, 71) ;
    animation-name:barappear;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes barappear {
    from {opacity:0;}
    to {opacity:1;}
}

.mediaimg {
    margin-top: 55%;
    margin-left: 10%;
    width:60px;
    height:auto;
}

.top {
    background-color:rgb(0, 0, 0);
    width: 100%;
    height:100vh;
    display:block;
}

.bcimg {
    position:absolute;
    width:100%;
    height:100vh;
    animation-name:changeop;
    animation-duration:2s;  
    animation-fill-mode: forwards;
}
@keyframes changeop {
    from {opacity:1;}
    to {opacity:0.3 ;}
}
.jm7logo {
    position:relative ;
    margin-top:25vh;
    width:400px;
    height:auto;
    margin-left:36vw;
    animation-name: logoposition;
    animation-duration:1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; 
}
@keyframes logoposition{
    from {margin-top:25vh;
          width:26vw;
          height:auto;
          margin-left:36vw}
    to {margin-top:0px;
        width:6.5vw;
        height:auto;
        margin-left:46.5vw;}
}
.jm7logohold {
    position:relative ;
    height:auto;
    margin-top:0px;
    width:6.5vw;
    height:auto;
    margin-left:30vw;
}
.menubutton {
    margin-top:4vh;
    margin-right:2%;
    margin-left:2%;
    position:absolute;
    right:0;
    display:inline-block;
    cursor: pointer;
    opacity:1;
    transition-duration: 0.5s;
}
.menu1, .menu2, .menu3 {
    width: 35px;
    height: 5px;
    background-color: aliceblue;
    margin: 6px 0;
    border-radius: 5px;
    transition: 0.4s;

}

.menu {
    float:right;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    position:fixed;
    opacity:1;
    height:100vh;
    width:0;
    top: 0;
    right:0;
    overflow-x: 0;
    border-radius:20px 0 0 20px ;
    transition-duration: 0.5s;
}
.closebtn {
    position:relative;
    width:8%;
    font-size: 18px;
    height:auto;
    margin-left: 7%;
    margin-top:5%;
}
.menuword {
    opacity:1;
    margin-top:0;
    font-size:30px;
    color:rgb(110, 110, 110);
    margin-bottom:20%;
}
.menu a {
    cursor:pointer;
    color:rgb(110, 110, 110);
    font-size: 25px;
    text-decoration: none;
    display:block;
    padding-bottom:20px;
    transition-duration: 0.3s;
}
.menu a:hover{
    color:aliceblue;
}
.bottommenu {
    float:right;
    position:fixed;
    bottom:0;
    right:0;
    width:0%;
    height:auto;
    transition-duration: 0.5s;
    margin-bottom: 2vh;
    z-index:1;
}
.account {
    cursor:pointer;
    color:rgb(110, 110, 110);
    font-size: 20px;
    text-decoration: none;
    display:block;
    padding-bottom:20px;
    transition-duration: 0.3s;
}
.account:hover{
    color:aliceblue;
}

.word{
    position:relative;
    color:aliceblue;
    width:50%;
    height:auto;
    margin-top:25vh;
    margin-left:24vw;
    font-size: 7vh;
    animation-name: wordappear;
    animation-delay: 1.5s;
    animation-duration:1s;
    animation-fill-mode: forwards;
    opacity:0;
    text-shadow:2px -2px 0 #000,
                -2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000;
}
@keyframes wordappear {
    from{opacity:0;}
    to{opacity:1;}
}

.aboutme {
    width:100%;
    height:100vh;
    z-index: 1;
    background-color: rgb(37, 37, 37);
}
.aboutmeimg {
    position:static;
    float:left;
    width:30%;
    height:auto;
    margin-top: 5vh;
    margin-left: 2%;
    border:3px solid aliceblue;
    border-radius: 10px;
}
.aboutmetxt {
    float:right;
    margin-top: 10vh ;
    margin-right: 5% ;
    width:60%;
    height:10vh;
    color: aliceblue;
    font-size: 20px;

}
.noticetxt {
    float:right;
    color:aliceblue;
    margin-top: 20vh;
    margin-right: 52% ;
}
.aboutmeword {
    font-size:50px;
    color:aliceblue;
    text-shadow:1px -1px 0 #000,
                -1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
}

.commontop {
    border-bottom: 2px ridge rgb(64, 64, 64);
}
.pagename {
    position:relative;
    float:left;
    color:aliceblue;
    font-size: 5vh;
    width:15%;
    height:auto;
    margin: 1.5% 0 0 1.5% ;
}
.item {
    width:100vw;
    height:28vh;
    border-bottom:2px ridge rgb(64, 64, 64);
    border-top:0;
}
.item img {
    float:left;
    margin-left: 0.5vw;
    height:100%;
    width:250px;
    object-fit: cover;
}
.itemname {
    overflow:hidden;
    position:relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    float:none;
    color:aliceblue;
    width:25%;
    height:auto;
    margin:0 0 0 0;
    padding: 0 0 0 1vw;
    font-size: 20px;
}
.itemprice{
    overflow-x: 0;
    position:relative;
    font-size: 20px;
    color:aliceblue;
    margin-top: 1%;
    margin-left:1%;
}
.sold{
    overflow-x: hidden;
    white-space: nowrap;
    float:none;
    position:relative;
    font-size: 18px;
    color:rgb(100, 100, 100);
    padding:6vh 0 0 1vw;
}
.item a{
    text-decoration: none;
    display:block;
    color: aliceblue;
}
.itemname:hover {
    color: rgb(60, 184, 255);
    text-decoration: underline;
}
.maindonation {
    height: 100vh;
}
.wtfword{
    font-size: 15px;
    color:aliceblue;
}
.paraword {
    font-size:30px;
    color:aliceblue;

}
.moneyimg{
    float:left;
    display:block;
    overflow: hidden;
    margin:2% 0 1% 14% ;
    width:30%;
    height:50%;
    border:2px solid aliceblue;
}
.money {
    position:absolute;
    left:0;
    width:20%;
    height:auto;
    font-size: 25px;
    color:aliceblue;
    margin:28% 0 0 0 ;
    padding:0 0 0 18%; 
}

.hornyimg{
    float:right;
    display:block;
    overflow: hidden;
    margin:2% 14% 0 0 ;
    width:30%;
    height:50%;
    border:2px solid aliceblue;
}
.horny {
    position:absolute;
    right:0;
    width:40%;
    height:auto;
    font-size: 25px;
    color:aliceblue;
    margin:28% 0 0 0  ;
    padding:0 9% 0 0 ;

}
.notavailable {
    margin-top:30vh;
    color:aliceblue;
    font-size: 50px;
}
.loginmain {
    align-self: center;
    margin-left: auto;
    margin-right:auto;
    width:450px;
    height:550px;
    margin-top: 3%;
    border:2px solid rgb(100, 100, 100);
    border-radius: 7px;
}
.loginmain h1 {
    color:aliceblue;
}
.login {
    width:300px;
    height:80vh;
    align-self: center;
    margin-left:auto;
    margin-right:auto;
}
.login p {
    color:aliceblue;
}
.login a {
    text-decoration: none;
    white-space: nowrap;
}
.login h5 {
    color: aliceblue;
    font-size: 14px;
}
.login h5:hover {
    color:rgb(38, 163, 126)
}
.signup {
    font-style: normal;
    font-size:15px;
    position:relative;
    margin-top:auto;
}
.text {
    font-size: 15px;
    float:left;
    position:static;
    margin-top:auto;
    margin-right:5px;
}
input[type='text'], input[type='password'] {
    border:2px solid aliceblue;
    background-color: #000;
    color:aliceblue;
    width:280px;
    padding:8px;
    font-size: 15px;
    position:relative;
    border-radius: 5px;
    margin:0 0 10px 0;

}
.logbutton {
    display:inline-block;
    margin-top:7%;
    width:100%;
    font-size:15px;
    padding:8px;
    border-radius: 2px;
    border:none;
    background-color: rgb(38, 163, 126);
    color:rgb(37, 37, 37)

}
#loginform:valid .logbutton {
    background-color: rgb(90, 238, 193);
}
input[type='checkbox'] {
    margin:10px 0 0 0 ;
    float:left;
    transform: scale(1.5);
}
.policy{
    font-size: 12px;
    margin-left:10px;
    margin-bottom:10%;
    position:static;
    width:80%;
    color:aliceblue;
}
.policy a{
    color: aliceblue;
    text-decoration: underline;
}
@media only screen and (max-width:800px){
    #media {
        display:none;
    }

    .jm7logo {
        margin-left:26vw;
        width:50%;
        height:auto;
    }
    @keyframes logoposition{
        from {margin-top:25vh;
              width:50%;
              height:auto;
              margin-left:26vw}
        to {margin-top:0px;
            width:25%;
            height:auto;
            margin-left:36.5vw;}
    }
    .word {
        width:100%;
        margin:25vh 0 0 0;
        font-size: 25px;
    }
    .menu{
        border-radius:0;
    }
    .menubutton {
        margin-top:2vh;
    }
    .menuword, .menu a {
        margin-right:10vw;
        margin-left:10vw;
    }
    .bottommenu {
        margin-bottom:5vh;
    }
    .aboutmeword {
        margin-top:1vh;
        font-size:30px;
    }
    .aboutmeimg {
        width:90%;
        height:auto;
        margin-left:4vw;
    }
    .aboutmetxt {
        font-size: 15px;
        width:90%;
        margin-top:4vh;
    }
    .noticetxt {
        display: none;
    }

    .jm7logohold {
        margin-top:0px;
        width:25%;
        height:auto;
        margin-left: 18vw;
    }
    .pagename {
        font-size: 5vw;
        margin:4vh 0 0 5vw;
    }
    .item {
        position:static;
        height:200px;    
    }
    .item img {
        width:40vw;
        height:22vh;
        overflow: visible;
    }
    .itemname {
        font-size: 15px;
        width:50vw;
        margin-left:42%;
    }
    .itemprice {
        font-size:15px;
        position:relative;
        margin:0 0 0 2%;
    }
    .sold {
        font-size: 12px;
        padding:4vh 0 0 1vw;
    }
    .wtfword {
        font-size:12px;
    }
    .paraword {
        font-size:20px;
    }
    .moneyimg {
        margin: 2% 0 0 4%;
        width:90%;
        height:35%;
    }
    .money {
        position:relative;  
        font-size:20px;
        margin:7% 0 0 0 ;
        padding:0 0 0 38% ;
    }
    .hornyimg {
        float:none;
        margin: 6% 0 0 4%;
        width:90%;
        height:35%;
    }

    .horny {
        position:relative;
        font-size: 100%;
        width:90%;
        margin:7% 0 0 0;
        padding:0 0 0 10%;
    }
    .notavailable {
        font-size: 20px;
    }
}
